.container {
    background-image: url('../../img/details-bg.jpg');
    background-color: #112a30;
    background-size: cover;
    background-attachment: inherit;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
}

.image {
    width: 500px;
    border: 1px solid black;
    border-radius: 15%;
    height: auto;
}

.dataContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

.gameTitle{
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c4b4f9;
    margin-top: 30px;
}

.genresContainer {
    display: flex;
    flex-direction: row;
}

.genres {
    margin: 8px 7px 8px 7px;
    padding: 3px 7px;
    background-color: #7b7dda;
    border: none;
    border-radius: 5px;
}

.descContainer {
    width: 500px;
    text-align: justify;
    height: 400px;
    overflow: scroll;
    border: 1px solid black;
    padding: 0px 25px;
    margin: 10px 0px;
}

.descContainer::-webkit-scrollbar {
    width: 12px;
}

.descContainer::-webkit-scrollbar-thumb {
    background-color: #c4b4f9;
    border-radius: 20px;
    border: 3px solid #445089;
}

.descContainer::-webkit-scrollbar-corner, .descContainer::-webkit-scrollbar-track {
    background: none;
}
  
.platContainer {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    margin-bottom: 30px;
}

.platform {
    margin: 8px 7px 8px 7px;
    padding: 3px 7px;
    background-color: #7b7dda;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.detailBtn {
    background-color: #445089;
    color: white;
    border: 1px solid #1a2540;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 0px 0px 30px 0px;
    font-size: large;
}

.detailBtn:hover {
    background-color: #1a2540;
    border: 1px solid #445089;
    cursor: pointer;
}
