.container {
    background-image: url('../../img/details-bg.jpg');
    background-color: #112a30;
    background-size: cover;
    background-attachment: inherit;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
}

.image {
    width: 600px;
    height: auto;
    border: 1px solid black;
    border-radius: 2%;
    height: auto;
}

.dataContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

.gameTitle{
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c4b4f9;
    text-shadow: 3px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    margin-top: 30px;
    margin-bottom: 30px;
}

.genresContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -30px;
    font-size: 26px;
}

.genres {
    margin: 8px 7px 8px 7px;
    padding: 3px 7px;
    background-color: #7b7dda;
    border: none;
    border-radius: 5px;
}

.descContainer {
    width: 600px;
    text-align: justify;
    height: 400px;
    overflow: scroll;
    border: 1px solid black;
    font-size: 20px;
    padding: 0px 25px;
    margin: 10px 0px;
}

.descContainer::-webkit-scrollbar {
    width: 12px;
}

.descContainer::-webkit-scrollbar-thumb {
    background-color: #c4b4f9;
    border-radius: 20px;
    border: 3px solid #445089;
}

.descContainer::-webkit-scrollbar-corner, .descContainer::-webkit-scrollbar-track {
    background: none;
}
  
.platContainer {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-bottom: 30px;
    justify-content: center;
    margin-left: 50px;
    font-size: 22px;
}

.platform {
    margin: 8px 7px 8px 7px;
    padding: 3px 7px;
    background-color: #7b7dda;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.detailBtn {
    background-color: #445089;
    color: white;
    border: 1px solid #1a2540;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 0px 0px 30px 0px;
    font-size: 30px;
    font-weight: bold;
}

.detailBtn:hover {
    background-color: #1a2540;
    border: 1px solid #445089;
    cursor: pointer;
}

.detailCenter{
    display: flex;
    flex-direction: row;
}

.detailLeft{
    padding-right: 100px;
    padding-top: 55px;
}

.detailBottom{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    width: 900px;
}

.detailRight{
    font-size: 20px;
    margin-top: 45px;
}