.cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.559);
    backdrop-filter: blur(20%);
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-column-gap: 11px;
    grid-row-gap: 7px;
}

.errors{
    padding: 35px;
    padding-bottom: 15%;
}