.container {
    background-image: url('../../img/home-bg-6.png');
    background-color: #112a30;
    background-size: cover;
    background-attachment: inherit;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    color: white;
}

.createBtn{


    background-color: #0c727c;
    border: 1px solid white;
    color: white;
    font-size: 23px;
}

.createBtn:hover{
    background-color: #104852;
    cursor: pointer;
}